body {
    background:  #363740;;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  label{
    width: 494px;
    height: 16px;
  }
  a{
    width: 51px;
    height: 20px;
  }
  p{
    position: absolute;
    width: 75px;
    height: 21px;
    right: 450px;
    top: 366px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #9FA2B4;
  }
  input, button{
    width: 494px;
    height: 42px;
    top:22px;
    border-radius: 8px;
    padding: 7px;
    display: block;
    margin: 15px 0 0 0;
    border: 1px solid #999;
    color: #FFFFFF;
  }
  button{
    width: 494px;
    height: 48px;
    border-radius: 8px;
    background: #1e1ae6;
    background-color: #1e1ae6;
  }
  .err{
    margin: 4px 0 0 0;
    font-size: 13px;
    color: #e64646;
  }
  ellipse{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #3751FF;
  }